<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Displays Stop on top, Snooze on the bottom.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<false/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmSwapButtons</string>
			<key>label</key>						<string>Swap Buttons</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>id</key>							<string>smartSnoozeGroup</string>
			<key>footerText</key>					<string>Shrinks the Snooze button each time you press it and limits the amount of snoozes.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>id</key>							<string>smartSnoozeToggle</string>
			<key>default</key>						<false/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmSmartSnooze</string>
			<key>label</key>						<string>Smart Snooze</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
			<key>set</key>							<string>setSmartSnooze:specifier:</string>
		</dict>
		<dict>
			<key>cellClass</key>					<string>BetterAlarmSlider</string>
			<key>id</key>							<string>smartSnoozeSlider</string>
			<key>key</key>							<string>alarmSmartSnoozeAmount</string>
			<key>default</key>						<integer>3</integer>
			<key>min</key>							<integer>1</integer>
			<key>max</key>							<integer>5</integer>
			<key>isSegmented</key>					<true/>
			<key>showValue</key>					<true/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
		</dict>



		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>id</key>							<string>buttonSizeGroup</string>
			<key>label</key>						<string>Button Size</string>
			<key>footerText</key>					<string>Controls which button should be larger.</string>
		</dict>
		<dict>
			<key>cellClass</key>					<string>BetterAlarmSlider</string>
			<key>id</key>							<string>buttonSizeSlider</string>
			<key>key</key>							<string>alarmPrimaryPercent</string>
			<key>default</key>						<integer>50</integer>
			<key>min</key>							<integer>20</integer>
			<key>max</key>							<integer>80</integer>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>leftLabel</key>					<string>Snooze</string>
			<key>rightLabel</key>					<string>Stop</string>
		</dict>



		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Confirmation type when pressing Snooze or Stop.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>none</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmStopConfirmationType</string>
			<key>label</key>						<string>Stop Confirmation</string>
			<key>set</key>							<string>setConfirmation:specifier:</string>
			<key>validTitles</key>					<array>
														<string>None</string>
														<string>Simple Alert</string>
														<string>Math Problem</string>
														<string>QR Code Scan</string>
													</array>
			<key>validValues</key>					<array>
														<string>none</string>
														<string>simple</string>
														<string>math</string>
														<string>qrcode</string>
													</array>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>none</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmSnoozeConfirmationType</string>
			<key>label</key>						<string>Snooze Confirmation</string>
			<key>set</key>							<string>setConfirmation:specifier:</string>
			<key>validTitles</key>					<array>
														<string>None</string>
														<string>Simple Alert</string>
														<string>Math Problem</string>
														<string>QR Code Scan</string>
													</array>
			<key>validValues</key>					<array>
														<string>none</string>
														<string>simple</string>
														<string>math</string>
														<string>qrcode</string>
													</array>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Stop Button</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmSecondaryBackgroundColor</string>
			<key>default</key>						<string>0.60465 0.16644 0.14586 1</string>
			<key>label</key>						<string>Background Color</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<true/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmSecondaryGradient</string>
			<key>label</key>						<string>Use Gradient</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>default</key>						<string>1 1 1 1</string>
			<key>key</key>							<string>alarmSecondaryTextColor</string>
			<key>label</key>						<string>Text Color</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>cellClass</key>					<string>BetterAlarmInput</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>placeholder</key> 					<string>48</string>
			<key>isNumeric</key>					<true/>
			<key>key</key> 							<string>alarmSecondaryTextSize</string>
			<key>label</key> 						<string>Text Size</string>
		</dict>



		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Snooze Button</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmPrimaryBackgroundColor</string>
			<key>label</key>						<string>Background Color</string>
			<key>default</key>						<string>0 0 0 1</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<false/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmPrimaryGradient</string>
			<key>label</key>						<string>Use Gradient</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>default</key>						<string>1 1 1 1</string>
			<key>key</key>							<string>alarmPrimaryTextColor</string>
			<key>label</key>						<string>Text Color</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>cellClass</key>					<string>BetterAlarmInput</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>placeholder</key> 					<string>48</string>
			<key>isNumeric</key>					<true/>
			<key>key</key> 							<string>alarmPrimaryTextSize</string>
			<key>label</key> 						<string>Text Size</string>
		</dict>



		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Clock</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>default</key>						<string>1 1 1 0.75</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmClockTextColor</string>
			<key>label</key>						<string>Text Color</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>cellClass</key>					<string>BetterAlarmInput</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>placeholder</key> 					<string>38</string>
			<key>isNumeric</key>					<true/>
			<key>key</key> 							<string>alarmClockTextSize</string>
			<key>label</key> 						<string>Text Size</string>
		</dict>



		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Title</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>cellClass</key>					<string>BetterAlarmColorPicker</string>
			<key>default</key>						<string>1 1 1 0.75</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmTitleTextColor</string>
			<key>label</key>						<string>Text Color</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>cellClass</key>					<string>BetterAlarmInput</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>placeholder</key> 					<string>24</string>
			<key>isNumeric</key>					<true/>
			<key>key</key> 							<string>alarmTitleTextSize</string>
			<key>label</key> 						<string>Text Size</string>
		</dict>
		

	</array>
	<key>title</key>
	<string>Alarms</string>
</dict>
</plist>
