<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>This features replaces the carrier name in the status bar with the next alarm and allows modifying and disabling the alarm on tap.</string>
			<key>footerAlignment</key>				<string>1</string>
			<key>isMainToggle</key>					<true/>
		</dict>
		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Enabling or disabling this requires a respring.</string>
			<key>isMainToggle</key>					<true/>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>alarmTime</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmAsCarrier</string>
			<key>label</key>						<string>Display Mode</string>
			<key>isMainToggle</key>					<true/>
			<key>set</key>							<string>setWithReload:specifier:</string>
			<key>validTitles</key>					<array>
														<string>None</string>
														<string>Alarm Time</string>
														<string>Time until Alarm</string>
													</array>
			<key>validValues</key>					<array>
														<string>disabled</string>
														<string>alarmTime</string>
														<string>timeUntilAlarm</string>
													</array>
		</dict>
		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>                   <string>The maximum amount of time an alarm can be in the future to still be displayed.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>24</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmAsCarrierMaxTime</string>
			<key>label</key>						<string>Max. Time Ahead</string>
			<key>validTitles</key>					<array>
														<string>12 hours</string>
														<string>24 hours</string>
														<string>2 days</string>
														<string>3 days</string>
														<string>4 days</string>
														<string>5 days</string>
														<string>6 days</string>
														<string>7 days</string>
													</array>
			<key>validValues</key>					<array>
														<string>12</string>
														<string>24</string>
														<string>48</string>
														<string>72</string>
														<string>96</string>
														<string>120</string>
														<string>144</string>
														<string>168</string>
													</array>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Custom text to display when no alarm is set.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<false/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmAsCarrierCustom</string>
			<key>id</key>							<string>alarmAsCarrierCustom</string>
			<key>label</key>						<string>Custom Text</string>
			<key>set</key>							<string>setCustomText:specifier:</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>
		<dict>
			<key>cell</key> 						<string>PSEditTextCell</string>
			<key>default</key> 						<string></string>
			<key>defaults</key> 					<string>com.noisyflake.betteralarm</string>
			<key>noAutoCorrect</key> 				<true/>
			<!-- <key>label</key>						<string>Text: </string> -->
			<key>placeholder</key>					<string>Your custom text</string>
			<key>key</key> 							<string>alarmAsCarrierCustomText</string>
			<key>id</key>							<string>alarmAsCarrierCustomText</string>
		</dict>
	</array>
	<key>title</key>
	<string>Alarm in Status Bar</string>
</dict>
</plist>
