<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<true/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>enabled</string>
			<key>label</key>						<string>Enabled</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Main Options</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmAlarmsController</string>
			<key>icon</key>							<string>icons/alarms</string>
			<key>label</key>						<string>Alarms</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmTimerController</string>
			<key>icon</key>							<string>icons/timer</string>
			<key>label</key>						<string>Timer</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Alarm as Carrier</string>
			<key>footerText</key>					<string>Displays next alarm information in the status bar.</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>alarmTime</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmAsCarrier</string>
			<key>label</key>						<string>Display Mode</string>
			<key>validTitles</key>					<array>
														<string>None</string>
														<string>Alarm Time</string>
														<string>Time until Alarm</string>
													</array>
			<key>validValues</key>					<array>
														<string>disabled</string>
														<string>alarmTime</string>
														<string>timeUntilAlarm</string>
													</array>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkListCell</string>
			<key>detail</key>						<string>BetterAlarmListItemsController</string>
			<key>default</key>						<string>24</string>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>alarmAsCarrierMaxTime</string>
			<key>label</key>						<string>Max. Time Ahead</string>
			<key>validTitles</key>					<array>
														<string>12 hours</string>
														<string>24 hours</string>
														<string>2 days</string>
														<string>3 days</string>
														<string>4 days</string>
														<string>5 days</string>
														<string>6 days</string>
														<string>7 days</string>
													</array>
			<key>validValues</key>					<array>
														<string>12</string>
														<string>24</string>
														<string>48</string>
														<string>72</string>
														<string>96</string>
														<string>120</string>
														<string>144</string>
														<string>168</string>
													</array>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSButtonCell</string>
			<key>action</key>						<string>resetSettings</string>
			<key>icon</key>							<string>icons/reset</string>
			<key>cellClass</key>					<string>BetterAlarmButton</string>
			<key>label</key>						<string>Reset Settings</string>
			<key>textColor</key>					<string>regular</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Developed with ♥ by NoisyFlake</string>
			<key>footerAlignment</key> 			    <string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
