<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>							<string>PSSwitchCell</string>
			<key>default</key>						<true/>
			<key>defaults</key>						<string>com.noisyflake.betteralarm</string>
			<key>key</key>							<string>enabled</string>
			<key>label</key>						<string>Enabled</string>
			<key>cellClass</key>					<string>BetterAlarmToggle</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Main Options</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmAlarmsController</string>
			<key>icon</key>							<string>icons/alarms</string>
			<key>label</key>						<string>Alarms</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmTimerController</string>
			<key>icon</key>							<string>icons/timer</string>
			<key>label</key>						<string>Timer</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Additional Features</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmPreviewController</string>
			<key>icon</key>							<string>icons/preview</string>
			<key>label</key>						<string>Alarm in Status Bar</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>label</key>						<string>Settings</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSLinkCell</string>
			<key>isController</key>					<true/>
			<key>detail</key>						<string>BetterAlarmQRController</string>
			<key>label</key>						<string>QR Code</string>
		</dict>
		<dict>
			<key>cell</key>							<string>PSButtonCell</string>
			<key>action</key>						<string>resetSettings</string>
			<key>icon</key>							<string>icons/reset</string>
			<key>cellClass</key>					<string>BetterAlarmButton</string>
			<key>label</key>						<string>Reset Settings</string>
			<key>textColor</key>					<string>regular</string>
		</dict>

		<dict>
			<key>cell</key>                         <string>PSGroupCell</string>
			<key>footerText</key>					<string>Developed with ♥ by NoisyFlake</string>
			<key>footerAlignment</key> 			    <string>1</string>
		</dict>
	</array>
	<key>title</key>
	<string></string>
</dict>
</plist>
